header{
    height: 60px;
    background-color: #3b2632;
}

#brand{
    color: white;
    font-size: 30px;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
}
.socialIcon{
    height: 50px;
}
.social{
    float: right;
}

.navbar{
    overflow: hidden;
    width:50%
}

.navbar a{
    float: left;
    display: block;
    color:white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}