<header>
    <div id="brand">
        {{heading | myupper:'Upper' }}{{4*2}}
       
    </div>
    <div class="nav">
            <a routerLink="/"
                routerLinkActive="active">Home</a>
              <a routerLink="/about"
                routerLinkActive="active">About</a>
                <a routerLink="/contact"
                routerLinkActive="active">Contact</a>
    </div>
    
    <div class="social">
        <a>
            <img src="https://i.ibb.co/bsXv4bf/facebook.png" alt="fblogo" class="socialIcon"/>
        </a>
        <a href="">
            <img src="https://i.ibb.co/8c9LJP1/insta.png" alt="fblogo" class="socialIcon"/>
        </a>
        <a href="">
            <img src="https://i.ibb.co/w07K2Vn/youtube1.png" alt="fblogo" class="socialIcon"/>
        </a>
    </div>
    
</header>
