<header>
    <div id="brand">
        {{heading | myupper:'Upper' }}{{4*2}}
    </div>
    <nav class="navbar">
        <a routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a routerLink="/about"
        routerLinkActive="active">About </a>
        <a routerLink="/contact"
        routerLinkActive="active">Contact</a>
        <a routerLink="/blog"
        routerLinkActive="active">Blog</a>
    </nav>
    
    <div class="social">
        <a>
            <img src="https://i.ibb.co/bsXv4bf/facebook.png" alt="fblogo" class="socialIcon"/>
        </a>
        <a href="">
            <img src="https://i.ibb.co/8c9LJP1/insta.png" alt="fblogo" class="socialIcon"/>
        </a>
        <a href="">
            <img src="https://i.ibb.co/w07K2Vn/youtube1.png" alt="fblogo" class="socialIcon"/>
        </a>
    </div>
    
</header>
